
<link href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister" rel="stylesheet">

<%- model_class = Appointment -%>
<div class="button">Appointments</div>
<link async href="http://fonts.googleapis.com/css?family=Warnes" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>
</div>

<table class="table">
  <thead>
    <tr class="active">

      <th><%= model_class.human_attribute_name(:first_name) %></th>
      <th><%= model_class.human_attribute_name(:last_name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:notes) %></th>

      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @appointments.each do |appointment| %>
    <tr class="info">

      <td><%= appointment.first_name %></td>
      <td><%= appointment.last_name %></td>
      <td><%= appointment.email %></td>
      <td><%= appointment.phone %></td>
      <td><%= appointment.date.strftime("%B %d, %Y at %H:%M %p")%></td>
      <td><%= appointment.notes %></td>

      <td>
        <% if current_user %>
        <%= link_to "Delete", appointment_path(appointment), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger' %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Back",
    root_path,
    :class => 'btn btn-primary' %>
